{% assign activeMenu = page.url | split: "/" %}
{% assign activeMenu = activeMenu[1] | default: "quickstart" %}

<header>
    <a href="{{ page.base }}">
        <img src="{{ page.base }}images/logo.svg" width="32" height="32" />
    </a>
    <img src="{{ page.base }}images/logo.svg" width="32" height="32" class="mobile-logo" id="mobile-logo" />
    <div class="nav">
        <ul class="menu" id="header-menu">
            <li>
                <a href="{{ page.base }}"{% if activeMenu == "quickstart" %} class="active"{% endif %}>Quickstart</a>
            </li>
            <li>
                <a href="{{ page.base }}guide/"{% if activeMenu == "guide" %} class="active"{% endif %}>Guide</a>
            </li>
            <li>
                <a href="{{ page.base }}examples/"{% if activeMenu == "examples" %} class="active"{% endif %}>Examples</a>
            </li>
        </ul>
        <ul class="icons">
            <li>
                <a href="javascript:toggleSearchBar();" class="search" alt="Search" title="Search"></a>
            </li>
            <li>
                <a href="{{ page.base }}support/" class="support" alt="Support" title="Support"></a>
            </li>
            <li>
                <a href="https://twitter.com/tripetto" target="_blank" class="twitter" alt="Follow us on Twitter" title="Follow us on Twitter"></a>
            </li>
            <li>
                <a href="https://tripetto.com" target="_blank" class="external" alt="Tripetto.com" title="Tripetto.com"></a>
            </li>
        </ul>
    </div>
    <form action="{{ page.base }}search/" method="get" id="search">
        <input type="text" name="q" id="search-input" placeholder="Search Tripetto Documentation..." onblur="toggleSearchBar();" />
        <input type="submit" value="Search" />
    </form>
    <button type="button" onclick="document.body.classList.toggle('menu');"></button>
    <span onclick="toggleSearchBar();" class="mobile-search" alt="Search" title="Search"></span>
</header>
