
{% assign title = section.heading | default: section.title %}
{% assign title_open = "<h1>" %}
{% assign title_close = "</h1>" %}

{% if section.bookmark %}

    {% if section.signature %}
        {% assign title_open = '<h2 class="signature">' %}
    {% elsif section.sub %}
        {% assign title_open = '<h2 class="sub">' %}
    {% else %}
        {% assign title_open = "<h2>" %}
    {% endif %}
    {% assign title_close = "</h2>" %}
{% endif %}

<section>
    <section>
        {{ title_open }}
            {{ title | replace: "<punchline />", '<img src="images/logo-full.svg" height="136" border="0" />' }}

            <a id="{{ section.bookmark | default: "_first" }}">&nbsp;</a>

            {% if section.endpoint %}
                <span class="endpoint {{ section.endpoint }}"></span>
            {% endif %}

            {% if section.readonly %}
                <span class="endpoint readonly"></span>
            {% endif %}

            {% if title != "<punchline />" %}
                <a href="{% if section.bookmark %}#{{ section.bookmark }}{% endif %}" class="bookmark"></a>
            {% endif %}

            {% if section.source and section.source != "" %}
                <a href="{{ site.repository }}{{ section.source }}" target="_blank" class="edit">Edit</a>
            {% endif %}
        {{ title_close }}

        {% if section.description %}
            <p class="description">{{ section.description }}</p>
        {% endif %}

        {% if page.custom %}
            {{ section.content | replace: "<dl>", "<h4>Arguments</h4><dl>" | replace: "</h5>", '<span id="type"></span><span id="label"></span><span id="event"></span></h5>' }}
        {% else %}
            {{ content }}
        {% endif %}
    </section>

    {% if section.code %}
    <section class="codebar">
        {{ section.code | markdownify }}
    </section>
    {% endif %}
</section>
