<!DOCTYPE html>
<html lang="en" class="loading">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="{{ page.base }}css/styles.css" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ page.base }}icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ page.base }}icons/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ page.base }}icons/apple-touch-icon.png" />
        <link rel="manifest" href="{{ page.base }}manifest.json" />

        <script src="{{ page.base }}js/jquery-3.2.1.js"></script>
        <script src="{{ page.base }}js/webfontloader-1.6.28.js"></script>

        {% seo %}
        {% include gtm.html %}
        {% include crisp.html %}
    </head>
    <body>
        {% include gtm-ns.html %}
        {% include header.html %}
        {% include navigation.html %}

        <div>
            <section>
                {% if page.custom %}
                    {{ content }}
                {% else %}
                    {% assign section = page %}
                    {% include section.html %}
                {% endif %}

                <footer>
                    <section>Copyright &copy; 2014 – {{ site.time | date: '%Y' }} Tripetto. <a href="https://euipo.europa.eu/eSearch/#details/trademarks/015322051" target="_blank">All rights reserved</a>.</section>
                </footer>
            </section>
        </div>

        <script src="{{ page.base }}js/app.js"></script>
    </body>
</html>
