.codebar code .hll { background-color: #49483e }
.codebar code .c { color: #bdc3c7 } /* Comment */
.codebar code .err { color: #f8f8f2; } /* Error */
.codebar code .k { color: #66d9ef } /* Keyword */
.codebar code .l { color: #ae81ff } /* Literal */
.codebar code .n { color: #f8f8f2 } /* Name */
.codebar code .o { color: #f92672 } /* Operator */
.codebar code .p { color: #f8f8f2 } /* Punctuation */
.codebar code .cm { color: #bdc3c7 } /* Comment.Multiline */
.codebar code .cp { color: #bdc3c7 } /* Comment.Preproc */
.codebar code .c1 { color: #bdc3c7 } /* Comment.Single */
.codebar code .cs { color: #bdc3c7 } /* Comment.Special */
.codebar code .ge { font-style: italic } /* Generic.Emph */
.codebar code .gs { font-weight: bold } /* Generic.Strong */
.codebar code .kc { color: #66d9ef } /* Keyword.Constant */
.codebar code .kd { color: #66d9ef } /* Keyword.Declaration */
.codebar code .kn { color: #f92672 } /* Keyword.Namespace */
.codebar code .kp { color: #66d9ef } /* Keyword.Pseudo */
.codebar code .kr { color: #66d9ef } /* Keyword.Reserved */
.codebar code .kt { color: #66d9ef } /* Keyword.Type */
.codebar code .ld { color: #e6db74 } /* Literal.Date */
.codebar code .m { color: #ae81ff } /* Literal.Number */
.codebar code .s { color: #e6db74 } /* Literal.String */
.codebar code .na { color: #a6e22e } /* Name.Attribute */
.codebar code .nb { color: #f8f8f2 } /* Name.Builtin */
.codebar code .nc { color: #a6e22e } /* Name.Class */
.codebar code .no { color: #66d9ef } /* Name.Constant */
.codebar code .nd { color: #a6e22e } /* Name.Decorator */
.codebar code .ni { color: #f8f8f2 } /* Name.Entity */
.codebar code .ne { color: #a6e22e } /* Name.Exception */
.codebar code .nf { color: #a6e22e } /* Name.Function */
.codebar code .nl { color: #f8f8f2 } /* Name.Label */
.codebar code .nn { color: #f8f8f2 } /* Name.Namespace */
.codebar code .nx { color: #a6e22e } /* Name.Other */
.codebar code .py { color: #f8f8f2 } /* Name.Property */
.codebar code .nt { color: #66d9ef } /* Name.Tag */
.codebar code .nv { color: #f8f8f2 } /* Name.Variable */
.codebar code .ow { color: #f92672 } /* Operator.Word */
.codebar code .w { color: #f8f8f2 } /* Text.Whitespace */
.codebar code .mf { color: #ae81ff } /* Literal.Number.Float */
.codebar code .mh { color: #ae81ff } /* Literal.Number.Hex */
.codebar code .mi { color: #ae81ff } /* Literal.Number.Integer */
.codebar code .mo { color: #ae81ff } /* Literal.Number.Oct */
.codebar code .sb { color: #e6db74 } /* Literal.String.Backtick */
.codebar code .sc { color: #e6db74 } /* Literal.String.Char */
.codebar code .sd { color: #e6db74 } /* Literal.String.Doc */
.codebar code .s2 { color: #e6db74 } /* Literal.String.Double */
.codebar code .se { color: #ae81ff } /* Literal.String.Escape */
.codebar code .sh { color: #e6db74 } /* Literal.String.Heredoc */
.codebar code .si { color: #e6db74 } /* Literal.String.Interpol */
.codebar code .sx { color: #e6db74 } /* Literal.String.Other */
.codebar code .sr { color: #e6db74 } /* Literal.String.Regex */
.codebar code .s1 { color: #e6db74 } /* Literal.String.Single */
.codebar code .ss { color: #e6db74 } /* Literal.String.Symbol */
.codebar code .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.codebar code .vc { color: #f8f8f2 } /* Name.Variable.Class */
.codebar code .vg { color: #f8f8f2 } /* Name.Variable.Global */
.codebar code .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.codebar code .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.codebar code .gh { } /* Generic Heading & Diff Header */
.codebar code .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.codebar code .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.codebar code .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
