table {
	border: 1px solid #bdc3c7;
	margin: 0 0 20px 0;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #bdc3c7;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

th {
	background: #ecf0f1;
}
