.error, .warning, .info, .success	{
	border-left: 5px solid transparent;
	border-radius: 2px;
	padding: 10px 15px;
	margin-left: -20px;
	margin-right: -15px;
	background-color: #ecf0f1;

	@media (max-width: $min-width) {
		margin-left: 0;
		margin-right: 0;
	}
}

.warning {
	border-color: #f1c40f;
}

.info {
	border-color: #0093ee;
}

.error {
	border-color: #e74c3c;
}

.success {
	border-color: #2ecc71;
}
